.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__edit-form {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile__title {
  padding: 0;
  margin: 74px 0 106px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__info-container {
  margin: 0 auto;
  width: 410px;
  padding-bottom: 150px;
}

.profile__info-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.profile__info-text {
  margin: 17px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: none;
  text-align: right;
  outline: none !important;
}

.profile__info-text::placeholder {
  color: #000;
}

.profile__info-text:invalid {
  color: #EE3465;
}

.profile__text-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.profile__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: none;
  color: #000;
}

.profile__text_disabled {
  opacity: 0.5;
}

.profile__text:hover {
  opacity: 0.8;
}

.profile__text_exit {
  color: #EE3465;
  
}.profile__text_exit:visited {
  color: #EE3465;
}

.profile__error-text {
  min-height: 30px;
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  max-width: 260px;
  color: #EE3465;
  text-align: center;
}

@media (max-width: 768px) {
  .profile {
    height: calc(100vh - 10px);
  }
  .profile__title {
    margin: 236px 0 96px;
  }
  .profile__text-container {
    bottom: 40px;
  }
}

@media (max-width: 420px) {
  .profile {
    height: calc(100vh - 74px);
  }
  .profile__title {
    margin: 70px 0 80px;
  }
  .profile__text {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__info-container {
    width: 260px;
    padding-bottom: 200px;
  }
}