.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  padding: 70px 0;
  width: 396px;
}

.form__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

.form__container {
  justify-content: space-between;
  height: 413px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.form__label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E8E8E8;
  width: 396px;
  text-align: left;
  padding: 0 0 10px;
  margin: 0;
}

.form__input:focus {
  outline: none !important;
  border-color: #2BE080;
}

.form__input-error-color {
  color: #EE3465;
}

.form__input-error-text {
  height: 22px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #EE3465;
}

.form__input-error-text_black {
  height: 22px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #000;
  text-align: center;
}

.form__button {
  padding: 0;
  margin: 0;
  width: 396px;
  height: 45px;
  border: none;
  background: #2BE080;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

.form__button_disabled {
  background: #fff;
  border: 1px solid #2BE080;
  color: #2BE080;
  pointer-events: none;
}

.form__button:hover {
  opacity: 0.8;
}

.form__text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.form__text {
  margin: 16px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.form__link {
  color: #2BE080;
  text-decoration: none;
}

.form__link:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .form {
    padding: 232px 0;
  }
}

@media (max-width: 420px) {
  .form {
    padding: 56px 30px 30px;
    width: 260px;
    align-items: center;
    gap: 0;
  }
  .form__title {
    margin: 50px 0 80px;
    text-align: center;
  }
  .form__input {
    width: 260px;
  }
  .form__button {
    width: 260px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
  }
  .form__container {
    height: 48vh;
  }
  .form__text {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}