.burger {
  width: 44px;
  height: 44px;
  border: none;
}

.burger:hover {
  opacity: 0.6;
}

.burger_black {
  background: url(../../images/burger.svg) no-repeat center center;
}

.burger_white {
  width: 44px;
  height: 44px;
  background-color: #fff;
  mask-image: url(../../images/burger.svg); 
}

@media (min-width: 769px) {
  .burger {
    visibility: hidden;
  }
}
