.portfolio {
  padding: 0 70px 106px;
  margin: 0;
}

.portfolio__title {
  margin: 0 0 30px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #A0A0A0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 420px) {
  .portfolio {
    padding: 0 14px 70px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
}