.modal-menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
}

.modal-menu_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal-menu__container {
  width: 67vh;
  height: 100vh;
  min-width: 320px;
  background-color: #fff;
  position: relative;
  animation: fadeInRight 0.2s ease-in-out;
}

.modal-menu__close-btn {
  background: url(../../images/cross.svg) no-repeat center center;
  height: 22px;
  width: 22px;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-menu__close-btn:hover {
  opacity: 0.6;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(700px);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 420px) {
  .modal-menu__container {
    width: 100%;
  }
}