.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 66px;
  background-color: #F5F5F5;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation__link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #000;
}

.navigation__link:hover, .navigation__link:active {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.navigation__link:visited {
  color: #000;
}