.search-form {
  padding: 80px 70px 10px;
}

.search-form__form {
  
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 9fr 70px;
  column-gap: 10px;
}

.search-form__input {
  border: none;
  height: 48px;
  background: #F9F9F9;
  border-radius: 4px;
  padding: 0 0 0 22px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.search-form__input:focus {
  outline: none !important;
}

.search-form__button {
  width: 70px;
  height: 44px;
  border-radius: 4px;
  border: none;
  background: #2BE080;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.search-form__filter-container {
  padding-bottom: 39px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.search-form__filter-text {
  padding: 0 0 4px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.search-form__toggle_on {
  background: url(./../../images/toggle-on.svg)  no-repeat left center;
  width: 36px;
  height: 25px;
}

.search-form__toggle_off {
  background: url(./../../images/toggle-off.svg)  no-repeat right center;
  width: 36px;
  height: 25px;
}

@media (max-width: 768px) {
  .search-form {
    padding: 80px 30px 10px;
  }
}

@media (max-width: 420px) {
  .search-form {
    padding: 81px 14px 10px;
  }
  .search-form__form {
    margin-bottom: 44px;
  }
  .search-form__input {
    padding: 0 0 0 16px;
    font-size: 12px;
    height: 44px;
  }
  .search-form__filter-text {
    font-size: 11px;
  }
  .search-form__filter-container {
    padding-bottom: 43px;
  }
}