.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 30px;
  background-color: #5C5C5C;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.header__link:visited {
  text-decoration: none;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
}

.header__link:hover, .header__link:active, .header__button:hover, .header__button:active {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 0 14px;
  }
  .header__links {
    gap: 14px;
  }
  .header__link{
    font-size: 10px;
  }
  .header__button {
    width: 54px;
    height: 26px;
  }
}
