.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
}

.techs__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  padding: 0;
  margin: 0 0 23px 0;
}

.techs__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.techs__promo-title {
  margin: 90px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__promo-subtitle {
  max-width: 460px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}


.techs__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 73px;
}

.techs__tech-block {
  display: grid;
  place-items: center;
  width: 90px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__promo-title {
    margin: 80px 0 0;
  }
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__promo {
    gap: 22px;
  }
  .techs__container {
    margin-top: 61px;
  }
  .techs__tech-block {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 320px) {
  .techs {
    padding: 70px 18px;
    background-color: #fff;
  }
  .techs__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 28px 0;
  }
  .techs__promo-title {
    font-size: 30px;
    line-height: 36px;
    margin: 60px 0 0;
  }
  .techs__promo {
    gap: 24px;
  }
  .techs__container {
    margin-top: 26px;
    max-width: 178px;
    justify-content: flex-start;
  }
}