.not-found {
  display: grid;
  place-items: center;
}

.not-found__title {
  margin: 246px 0 5px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
}

.not-found__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.not-found__back-button {
  margin: 114px 0 0;
  padding: 0;
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  /*increase tap area*/
  width: 70px;
  height: 70px;
}

.not-found__back-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .not-found__title {
    margin: 408px 0 5px;
  }
  .not-found__back-button {
    margin-bottom: 152px;
  }
}

@media (max-width: 500px) {
  .not-found__title {
    margin: 329px 0 10px;
    font-size: 80px;
    line-height: 97px;
  }
  .not-found__back-button {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    width: 30px;
    height: 30px;
  }
}